body {
  text-align: center;
  background-color: #282c34;
  font-family: "Quicksand", sans-serif;
}

.shrt-btn {
  font-size: 20px;
  border-radius: 4px;
  color: #292c34;
  padding: 20px;
  background-color: #63ceaa;
  border: none;
  font-family: "Quicksand", sans-serif;
}

.shrt-inpt {
  width: 80%;
  max-width: 500px;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
}

.app-title {
  display: block;
  color: #b8c1be;
  font-size: 40px;
  font-weight: 100;
  margin: 30px 0;
}

.app {
  margin: 30px 0;
}

.shrt-btn-cont {
  margin-top: 30px;
}

.footer {
  color: #b8c1be;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.project-link {
  text-decoration: none;
  color: #63ceaa;
  font-weight: 900;
}

/* SWAL Overrides */
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #63ceaa;
}
.swal2-styled.swal2-confirm {
  background-color: #63ceaa;
}
